<!--main_admin\admin_U.html-->
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main_admin\css\admin_C.css' %}">
    <script src="{% static 'main_admin\js\jquery-3.7.1.min.js' %}"></script>
    <title>Admin (College)</title>
</head>
<body>
    <script>
        setTimeout(function() {
            location.reload();
        }, 5000);
    </script>
    <div id="lable">
        <h1>Колледж</h1>
    </div>
     <div class="scrollable-table">
        <table>
            <thead class="table">
                <th>Номер</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
            </thead>
            <tbody>
                {% for queue in queues %}
                <tr class="{% if queue.called%}called_c{% endif %}">
                    {% if queue.queue_id|slice:":1" == "К" %}
                    <td>{{ queue.queue_id }}</td>
                    <td>{{ queue.last_name }}</td>
                    <td>{{ queue.first_name }}</td>
                    <td>{{ queue.middle_name }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="POST" action="{% url 'call_ten_students_college' %}">
         {% csrf_token %}
        <button type="submit">Вызвать 10 человек</button>
    </form>
    <div id="logo">
        <img src="{% static 'main_admin/img/VVSU.svg' %}" alt="vvsu">
    </div>

</body>
</html>