<!--main_admin\index.html-->
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=screen-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df08f4fc0e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main_admin\css\main.css' %}">
    <script src="{% static 'main_admin\js\jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'main_admin\js\db_update.js' %}"></script>
    <title>Admin</title>
</head>
<body>
    <div class="scrollable-table">
        <table>
            <thead class="table">
                <th>ID</th>
                <th>Номер</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Статус</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


    <img src="{% static 'main_admin/img/VVSU.svg' %}">

    <a href="{% url 'edit_students' %}">
        {% csrf_token %}
        <button id="edit" type="submit" ><i class="fa-solid fa-edit"></i> Редактировать</button>
    </a>

    <button id="reload"><i class="fa-solid fa-arrows-rotate"></i> Сброс таблицы</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="submit">Введите код подтверждения</div>
            <form method="POST" action="{% url 'reset_queues' %}">
                {% csrf_token %}
                <input id="enterCode" type="text" name="key" placeholder="Код">
                <button type="submit" id="apply"><i class="fa-solid fa-check"></i> Принять</button>
            </form>
        </div>
    </div>

{% if stats or error %}
    <div style="display: block;" id="secModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <div >Статус выполнения: </div>
            {% if stats %}Среднее время на приём: {{ stats }}{% else %}{{ error }}{% endif %}
        </div>

    </div>
    <script>
        var secModal = document.getElementById("secModal");
        var span = document.querySelector("#secModal .close");

        span.onclick = function(event) {
            secModal.style.display = "none";
            window.location.href = "/admin_panel";
            console.log('Нажато!');
        };

        secModal.onclick = function () {
            if (event.target == secModal) {
                secModal.style.display = "none";
                window.location.href = "/admin_panel";
            }
        };
    </script>
{% endif %}


<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("reload");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function () {
        if(event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
    <a href="{% url 'add_to_queue' %}">
        <button id="add" type="submit">
            <i class="fa-solid fa-user-plus"></i>
            Добавить в очередь
        </button>
    </a>
</body>
</html>