{% load static %}
<html>
<head>
    <title>Вход</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main_admin\css\login_admin.css' %}">

    <style media="screen">
        

    </style>
</head>
<body>
    <div id="logo">
        <img src="{% static 'main_admin/img/VVSU.svg' %}" alt="vvsu">
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form id="login_users" action="{% url 'login_admins' %}" method="POST">
        {% csrf_token %}
        <h3>Вход</h3>
        {{ form_admin.as_p }}

        <button type="submit">Войти</button>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <div class="social">
            <a href="{% url 'login' %}"><div>Пользователям</div></a>
        </div>
        <div class="social">
            <a href="{% url 'registr_admin' %}"><div>Регистрация</div></a>
        </div>
    </form>
</body>
</html>
