{% load static %}
<html>
<head>
    <title>Вход</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main_admin\css\login.css' %}">
</head>
<body>
<!--    <script src="{% static 'main_admin/js/switch_login.js' %}"></script>-->
    <div id="logo">
        <img src="{% static 'main_admin/img/VVSU.svg' %}" alt="vvsu">
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form id="login_users" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h3>Вход</h3>
        {{ form.as_p }}

        <button type="submit">Войти</button>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}

        <div class="social">
            <a href="{% url 'login_admins' %}"><div id="admin">Сотрудникам</div></a>
        </div>
    </form>


</body>
</html>
